# Seguridad
JUDGE_ACCESS_CODE=veilforge2026demo

# Somnia Network
SOMNIA_RPC_URL=https://dream-rpc.somnia.network
SOMNIA_WS_URL=wss://api.infra.testnet.somnia.network/ws
SOMNIA_CHAIN_ID=50312

# Private keys de los agentes
PRIVATE_KEY_AGENT_1=0x
PRIVATE_KEY_AGENT_2=0x
PRIVATE_KEY_AGENT_3=0x

# Contratos deployados
COMMIT_REVEAL_CLOB_ADDRESS=0x05f27223bBe02B3CC5c2F5d61DA8902811f5d207
AGENT_REGISTRY_ADDRESS=0x22b4710F8219949D98849dAdBecF077a1b0Edc75
REACTIVITY_ADAPTER_ADDRESS=0x93f859b7c206ea38218c1De6BD8e5412114e93F5
TOKEN_A_ADDRESS=0x3De966884898384B32B7E1d45e54d94d058a811a
TOKEN_B_ADDRESS=0xC84F35D855aF44fD85B477A8924BF981df00EE20

# Config agentes
REVEAL_WINDOW_BLOCKS=5
COLLATERAL_AMOUNT=0.01

# Servidor
PORT=3001
FRONTEND_URL=https://veilforge-frontend.vercel.app

# Kill switch automatico
AGENT_MAX_RUNTIME_MINUTES=30